<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>后台管理</title>
  <!-- 所有script封装到一起 -->
  <div th:replace="admin/common/scriptBarCommon :: script"  ></div>
</head>
<body id="page-top">
<div id="wrapper" class="set-min-height">
  <div th:replace="admin/common/leftPageBar :: leftPage"  ></div>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- 页面开始 -->
    <div id="content">
      <div th:replace="admin/common/headPageBar :: headPage"  ></div>
      <!-- 页面内容开始 -->
      <div class="container-fluid">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                      <tr>
                          <th>部门ID</th>
                          <th>部门名称</th>
                          <th>上级部门</th>
                          <th>操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr  th:each="u:${departInfo}">
                          <td th:text="${u['departId']}"></td>
                          <td th:text="${u['departName']}"></td>
                          <td th:text="${u['departSuperior']}"></td>
                          <td>
                              <a class="btn btn-primary btn-user" th:href ="@{'./browseDepartInfo?departId=' + ${u['departId']}}">查看</a>
                              <a class="btn btn-primary btn-user" th:href ="@{'./updateDepartInfo?departId=' + ${u['departId']}}">修改</a>
                          </td>
                      </tr>
                      </tbody>
                  </table>
                  <div style="float: right">
                      <a class="btn btn-primary btn-user" href ="./insertDepartInfoView">添加</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- 页面内容结束 -->

    </div>
    <!-- 页面结束 -->
    <div th:replace="admin/common/footerBar :: footer"  ></div>
  </div>
</div>
</body>
</html>
