<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>后台管理</title>
  <!-- 所有script封装到一起 -->
  <div th:replace="admin/common/scriptBarCommon :: script"  ></div>
</head>
<body id="page-top">
<div id="wrapper" class="set-min-height">
  <div th:replace="admin/common/leftPageBar :: leftPage"  ></div>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- 页面开始 -->
    <div id="content">
      <div th:replace="admin/common/headPageBar :: headPage"  ></div>
      <!-- 页面内容开始 -->
      <div class="container-fluid">
        <div class="row">
        <div class="container-fluid" style="width:60% ">
            <div class="form-group">
                <span> 部门ID： </span>
                <input type="text" id="departId"  readonly="readonly" th:value="${departInfo['departId']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 部门名称： </span>
                <input type="text" id="departName" th:value="${departInfo['departName']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 上级部门： </span>
                <input type="text" id="departSuperior"  th:value="${departInfo['departSuperior']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <p><input class="btn btn-primary btn-user btn-block" id="updateDepartInfo" type="button" value="确认更新"/></p>
        </div>
        </div>
      </div>
      <!-- 页面内容结束 -->

    </div>
    <!-- 页面结束 -->
    <div th:replace="admin/common/footerBar :: footer"  ></div>
  </div>
</div>
<script type="text/javascript">

    //更新档案记录
    $("input[id='updateDepartInfo']").click(function() {
        $.post("./updateDepartInfo",
            {
                "departId": $("input[id='departId']").val(),
                "departName": $("input[id='departName']").val(),
                "departSuperior": $("input[id='departSuperior']").val(),
            },
            function (data) {
                alert(data['msg']);
            });
    })

</script>
</body>
</html>
