<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>后台管理</title>
  <!-- 所有script封装到一起 -->
  <div th:replace="admin/common/scriptBarCommon :: script"  ></div>
</head>
<body id="page-top">
<div id="wrapper" class="set-min-height">
  <div th:replace="admin/common/leftPageBar :: leftPage"  ></div>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- 页面开始 -->
    <div id="content">
      <div th:replace="admin/common/headPageBar :: headPage"  ></div>
      <!-- 页面内容开始 -->
      <div class="container-fluid">
        <div class="row">
        <div class="container-fluid" style="width:60% ">
            <div class="form-group">
                <span> 管理员ID： </span>
                <input type="text" id="adminId" readonly="readonly" th:value="${adminInfo['adminId']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 管理员密码： </span>
                <input type="text" id="adminPassword" th:value="${adminInfo['adminPassword']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 管理员名： </span>
                <input type="text" id="adminName" th:value="${adminInfo['adminName']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 管理员性别： </span>
                <input type="text" id="adminSex" th:value="${adminInfo['adminSex']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 管理员地址： </span>
                <input type="text" id="adminAddress" th:value="${adminInfo['adminAddress']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 管理员联系方式： </span>
                <input type="text" id="adminPhone" th:value="${adminInfo['adminPhone']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 管理员等级： </span>
                <input type="text" id="adminLevel" th:value="${adminInfo['adminLevel']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <p><input class="btn btn-primary btn-user btn-block" id="updateAdmin" type="submit" value="更新"/></p>
        </div>
        </div>
      </div>
      <!-- 页面内容结束 -->

    </div>
    <!-- 页面结束 -->
    <div th:replace="admin/common/footerBar :: footer"  ></div>
  </div>
</div>

<script type="text/javascript">
    $("input[id='updateAdmin']").click(function(){
        $.post("./updateAdminInfo",
            {"adminId":$("input[id='adminId']").val(),
                "adminName":$("input[id='adminName']").val(),
                "adminPassword":$("input[id='adminPassword']").val(),
                "adminSex":$("input[id='adminSex']").val(),
                "adminAddress":$("input[id='adminAddress']").val(),
                "adminPhone":$("input[id='adminPhone']").val(),
                "adminLevel":$("input[id='adminLevel']").val()},
            function(data){
                alert(data['msg']);
            })
    });
</script>
</body>
</html>
