<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<!-- html 左侧菜单-->
<div th:fragment="leftPage">
    <!-- 公共组件 用户管理员左侧树形菜单 -->
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: auto">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">后台管理</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            主菜单
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#fileManage" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-folder"></i>
                <span>管理档案</span>
            </a>
            <div id="fileManage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">管理档案信息：</h6>
                    <a class="collapse-item" href="./browseAllRecordInfo">管理档案</a>
                    <a class="collapse-item" href="./browseAllRecordAuth">管理授权</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#manageAdmin" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-folder"></i>
                <span>管理超级管理员</span>
            </a>
            <div id="manageAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">管理管理员信息：</h6>
                    <a class="collapse-item" href="./browseAllAdminInfo">查看管理员</a>
                    <a class="collapse-item" href="./insertAdminInfoView">添加管理员</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#manageRecordAdmin" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-flag"></i>
                <span>管理档案管理员</span>
            </a>
            <div id="manageRecordAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">管理档案管理员：</h6>
                    <a class="collapse-item" href="./browseAllRecordAdmin">查看档案管理员</a>
                    <a class="collapse-item" href="./insertRecordAdminView">添加档案管理员</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#manageUser" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>管理普通用户</span>
            </a>
            <div id="manageUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">管理普通用户：</h6>
                    <a class="collapse-item" href="./browseAllUserInfo">查看普通用户</a>
                    <a class="collapse-item" href="./insertUserInfoView">添加普通用户</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>我的信息</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">管理我的信息：</h6>
                    <a class="collapse-item" th:href="@{'./browseAdminInfo?adminId='+${session.adminId}}">查看信息</a>
                    <a class="collapse-item" th:href="@{'./updateAdminInfo?adminId='+${session.adminId}}">修改信息</a>
                    <a class="collapse-item" href="./updateAdminPasswordView">重置密码</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            机构设置
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-wrench"></i>
                <span>部门配置</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">设置部门信息:</h6>
                    <a class="collapse-item" href="./browseAllDepartInfo">查看部门</a>
                    <a class="collapse-item" href="./insertDepartInfoView">添加部门</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">其他参数:</h6>
                    <a class="collapse-item" href="#">----</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- 最下面的按钮依赖的js -->
    <script src="../admin/js/sb-admin-2.min.js"></script>
</div>
</html>