<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面丢失啦</title>
    <link rel="stylesheet" href="/FileManage/static/error/css/style.css">
</head>
<body>
    <div class="mars"></div>
    <img src="/FileManage/static/error/img/404.svg  " class="logo-404" />
    <img src="/FileManage/static/error/img/meteor.svg" class="meteor" />
    <p class="title">Oh no!!</p>
    <p class="subtitle">
        请检查输入的URL地址是否错误 <br /> 或者该页面已经不存在
    </p>
    <div align="center">
        <a class="btn-back" href="javascript:history.back(-1)">返 &nbsp;&nbsp;&nbsp; 回</a>
    </div>
    <img src="/FileManage/static/error/img/astronaut.svg" class="astronaut" />
    <img src="/FileManage/static/error/img/spaceship.svg" class="spaceship" />
</body>
</html>
