<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>后台管理</title>
  <!-- 所有script封装到一起 -->
  <div th:replace="user/common/scriptBarCommon :: script"  ></div>
</head>
<body id="page-top">
<div id="wrapper" class="set-min-height">
  <div th:replace="user/common/leftPageBar :: leftPage"  ></div>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- 页面开始 -->
    <div id="content">
      <div th:replace="user/common/headPageBar :: headPage"  ></div>
      <!-- 页面内容开始 -->
      <div class="container-fluid">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                      <tr>
                          <th>档案ID</th>
                          <th>档案管理员</th>
                          <th>档案名字</th>
                          <th>档案版本号</th>
                          <th>档案上传时间</th>
                          <th>档案文件</th>
                          <th>档案描述</th>
                          <th>操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr  th:each="u:${recordInfo}">
                          <td th:text="${u['recordId']}"></td>
                          <td th:text="${u['recordAdminName']}"></td>
                          <td th:text="${u['recordName']}"></td>
                          <td th:text="${u['recordVersion']}"></td>
                          <td th:text="${u['recordTime']}"></td>
                          <td><a class="btn btn-primary btn-user" th:href="@{'../downloadRecord/'+${u['fileHash']}}" >点击下载</a></td>
                          <td th:text="${u['recordDescribe']}"></td>
                          <td>
                              <a class="btn btn-primary btn-user" th:href ="@{'./browseRecordInfo?recordId=' + ${u['recordId']}}">最新</a>
                              <a class="btn btn-primary btn-user" th:href ="@{'./browseAllRecordAuthByRecordId?recordId=' + ${u['recordId']}}">历史</a>
                              <a class="btn btn-primary btn-user" th:href ="@{'./updateRecordInfo?recordId=' + ${u['recordId']}}">修改</a>
                          </td>
                      </tr>
                      </tbody>
                  </table>
                  <div style="float: right">
                      <a class="btn btn-primary btn-user" href ="./insertRecordInfoView">添加</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- 页面内容结束 -->

    </div>
    <!-- 页面结束 -->
    <div th:replace="user/common/footerBar :: footer"  ></div>
  </div>
</div>
</body>
</html>
