<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>后台管理</title>
  <!-- 所有script封装到一起 -->
  <div th:replace="admin/common/scriptBarCommon :: script"  ></div>
</head>
<body id="page-top">
<div id="wrapper" class="set-min-height">
  <div th:replace="admin/common/leftPageBar :: leftPage"  ></div>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- 页面开始 -->
    <div id="content">
      <div th:replace="admin/common/headPageBar :: headPage"  ></div>
      <!-- 页面内容开始 -->
      <div class="container-fluid">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                      <tr>
                          <th>档案授权ID</th>
                          <th>档案授权的管理员</th>
                          <th>档案所属人</th>
                          <th>档案授权时间</th>
                          <th>档案授权截止时间</th>
                          <th>备注</th>
                          <th>浏览档案</th>
                          <th>操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr  th:each="u:${recordAuth}">
                          <td th:text="${u['recordAuthId']}"></td>
                          <td th:text="${u['recordAdminName']}"></td>
                          <td th:text="${u['userName']}"></td>
                          <td th:text="${u['recordAuthTime']}"></td>
                          <td th:text="${u['recordAuthCutOffTime']}"></td>
                          <td th:text="${u['recordAuthTips']}"></td>
                          <td>
                              <a class="btn btn-primary btn-user" th:href="@{'./browseRecordInfo?recordId=' + ${u['recordId']}}">档案</a>
                          </td>
                          <td>
                              <!--<a class="btn btn-primary btn-user" th:href ="@{'./browseRecordAuth?recordAuthId=' + ${u['recordAuthId']}}">查看授权</a>-->
                              <a class="btn btn-primary btn-user" th:href ="@{'./browseAllRecordAuthByRecordAuthId?recordAuthId=' + ${u['recordAuthId']}}">历史</a>
                              <a class="btn btn-primary btn-user" th:href ="@{'./updateRecordAuth?recordAuthId=' + ${u['recordAuthId']}}">修改</a>
                          </td>
                      </tr>
                      </tbody>
                  </table>
                  <div style="float: right">
                      <a class="btn btn-primary btn-user" href ="./insertRecordAuthView">添加</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- 页面内容结束 -->

    </div>
    <!-- 页面结束 -->
    <div th:replace="admin/common/footerBar :: footer"  ></div>
  </div>
</div>
</body>
</html>
