<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>后台管理</title>
  <!-- 所有script封装到一起 -->
  <div th:replace="admin/common/scriptBarCommon :: script"  ></div>
</head>
<body id="page-top">
<div id="wrapper" class="set-min-height">
  <div th:replace="admin/common/leftPageBar :: leftPage"  ></div>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- 页面开始 -->
    <div id="content">
      <div th:replace="admin/common/headPageBar :: headPage"  ></div>
      <!-- 页面内容开始 -->
      <div class="container-fluid">
        <div class="row">
        <div class="container-fluid" style="width:60% ">
            <div class="form-group">
                <span> 档案ID： </span>
                <input type="text" name="ADMIN_ID" readonly="readonly" th:value="${recordInfo['recordId']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 上传档案的档案管理员： </span>
                <input type="text" readonly="readonly" th:value="${recordInfo['recordAdminName']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 档案名称： </span>
                <input type="text" name="ADMIN_NAME"  readonly="readonly" th:value="${recordInfo['recordName']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 档案版本号： </span>
                <input type="text" name="ADMIN_NAME"  readonly="readonly" th:value="${recordInfo['recordVersion']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 档案上传时间： </span>
                <input type="text" name="ADMIN_NAME"  readonly="readonly" th:value="${recordInfo['recordTime']}" class="form-control form-control-user" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <span> 档案文件： </span>
                <a th:href="@{'../downloadRecord/'+${recordInfo['fileHash']}}" ><span th:text="${recordInfo['fileHash']}"/></a>
            </div>
            <div class="form-group">
                <span> 档案描述： </span>
                <textarea type="text" name="ADMIN_NAME"  readonly="readonly" th:text="${recordInfo['recordDescribe']}" class="form-control form-control-user" aria-describedby="emailHelp"></textarea>
            </div>
            <p><a class="btn btn-primary btn-user btn-block" name="updateAdmin" th:href="@{'./updateRecordInfo?recordId='+${recordInfo['recordId']}}" >更新档案</a></p>
        </div>
        </div>
      </div>
      <!-- 页面内容结束 -->

    </div>
    <!-- 页面结束 -->
    <div th:replace="admin/common/footerBar :: footer"  ></div>
  </div>
</div>
</body>
</html>
