<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>后台管理</title>
    <!-- 所有script封装到一起 -->
    <div th:replace="admin/common/scriptBarCommon :: script"  ></div>
</head>
<body id="page-top">
<div id="wrapper" class="set-min-height">
    <div th:replace="admin/common/leftPageBar :: leftPage"  ></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- 页面开始 -->
        <div id="content">
            <div th:replace="admin/common/headPageBar :: headPage"  ></div>
            <!-- 页面内容开始 -->
            <div class="container-fluid" style="width:60% ">
                <div role="form" class="margin-left-right">
                    <div class="form-group">
                        <label for="recordAdminPassword">档案管理员密码</label>
                        <input type="password" class="form-control" id="recordAdminPassword" placeholder="请输入档案管理员密码">
                    </div>
                    <div class="form-group">
                        <label for="recordAdminName">档案管理员姓名</label>
                        <input type="text" class="form-control" id="recordAdminName" placeholder="请输入档案管理员姓名">
                    </div>
                    <div class="form-group">
                        <label for="departId">档案管理员部门ID</label>
                        <input type="text" class="form-control" id="departId" placeholder="请输入档案管理员部门ID">
                    </div>
                    <div class="form-group">
                        <label for="recordAdminLevel">档案管理员等级</label>
                        <input type="text" class="form-control" id="recordAdminLevel" placeholder="请输入档案管理员等级">
                    </div>
                    <div class="form-group">
                        <label for="recordAdminPhone">档案管理员联系方式</label>
                        <input type="text" class="form-control" id="recordAdminPhone" placeholder="请输入档案管理员联系方式">
                    </div>
                    <div class="submit-bt">
                        <p style="text-align: center" ><input name="registerRecordAdmin" type="submit" value="注册" class="btn btn-primary btn-user btn-block"/></p>
                    </div>
                </div>
            </div>
            <!-- 页面内容结束 -->
        </div>
        <!-- 页面结束 -->
        <div th:replace="admin/common/footerBar :: footer"  ></div>
    </div>
</div>

<script type="text/javascript">
    $("input[name='registerRecordAdmin']").click(function(){
        $.post("./registerRecordAdmin",
            {"recordAdminPassword":$("input[id='recordAdminPassword']").val(),
                "recordAdminName":$("input[id='recordAdminName']").val(),
                "departId":$("input[id='departId']").val(),
                "recordAdminLevel":$("input[id='recordAdminLevel']").val(),
                "recordAdminPhone":$("input[id='recordAdminPhone']").val()},
            function(data){
                alert(data['msg']+" 登录ID："+data['data']);
            })
    });
</script>

</body>
</html>
